<ion-view title="Customer Satisfaction Survey" id="page1">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div id="customerSatisfactionSurvey-button-bar2" class="button-bar">
      <button id="customerSatisfactionSurvey-button9" class="button button-energized button-block">Home</button>
      <button id="customerSatisfactionSurvey-button10" class="button button-energized button-block">FAQ</button>
      <button id="customerSatisfactionSurvey-button11" class="button button-energized button-block">Services</button>
    </div>
    <div>
      <img src="img/dzZ1NQdQaqIRlb0laYnG_airbus-a380-800-nav.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h1 id="customerSatisfactionSurvey-heading1" style="color:#000000;text-align:center;">At Singapore Airlines, we are always striving to make our customers happy. </h1>
    <h1 id="customerSatisfactionSurvey-heading16" style="color:#000000;"></h1>
    <div id="customerSatisfactionSurvey-markdown5" class="show-list-numbers-and-dots"></div>
    <h2 id="customerSatisfactionSurvey-heading3" style="color:#000000;text-align:center;">Please fill out this customer satisfaction survey for a complimentary gift of 1,000 miles. We appreciate your feedback.</h2>
    <div id="customerSatisfactionSurvey-markdown8" class="show-list-numbers-and-dots">
      <pre>
        <code></code>
      </pre>
    </div>
    <a ui-sref="signup()" id="customerSatisfactionSurvey-button12" class="button button-positive button-large button-block">Continue to Survey</a>
  </ion-content>
</ion-view>