<ion-view title="Page 15" id="page13">
  <ion-content padding="true" class="has-header">
    <h4 id="page15-heading38" style="color:#FFFFFF;">Heading</h4>
    <h2 id="page15-heading13" style="color:#000000;text-align:center;">Miscellaneous:</h2>
    <form id="page15-form12" class="list">
      <ion-checkbox id="page15-checkbox27">Reading Lamp Doesn't Work</ion-checkbox>
      <ion-checkbox id="page15-checkbox28">Window won't shut</ion-checkbox>
      <ion-checkbox id="page15-checkbox29">Window won't open</ion-checkbox>
      <ion-checkbox id="page15-checkbox38">Air won't turn on</ion-checkbox>
      <ion-checkbox id="page15-checkbox39">Air won't turn off</ion-checkbox>
      <ion-item class="item-divider" id="page15-list-item-divider8"> Other</ion-item>
      <label class="item item-input" id="page15-textarea7">
        <span class="input-label">Additional Feedback</span><textarea placeholder="Enter comments here"></textarea></label>
      <h4 id="page15-heading39" style="color:#FFFFFF;">Heading</h4>
    </form>
    <a ui-sref="feedback()" id="page15-button34" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>