<ion-view title="Page 7" id="page7">
  <ion-content padding="true" class="has-header">
    <h4 id="page7-heading24" style="color:#FFFFFF;">Heading</h4>
    <h2 id="page7-heading7" style="color:#000000;text-align:center;">Headrest Feedback:</h2>
    <form id="page7-form6" class="list">
      <ion-checkbox id="page7-checkbox1">Headrest is uncomfortable</ion-checkbox>
      <ion-checkbox id="page7-checkbox2">Needs cleaning</ion-checkbox>
      <ion-checkbox id="page7-checkbox3">Damaged</ion-checkbox>
      <ion-checkbox id="page7-checkbox4" name="Smells">Has Odor</ion-checkbox>
      <ion-checkbox id="page7-checkbox40" name="Cover">No Headrest Cover</ion-checkbox>
      <ion-item class="item-divider" id="page7-list-item-divider2"> Other</ion-item>
      <label class="item item-input" id="page7-textarea1">
        <span class="input-label">Additional Feedback:</span><textarea placeholder="Enter comments here"></textarea></label>
    </form>
    <h4 id="page7-heading29" style="color:#FFFFFF;">Heading</h4>
    <a ui-sref="feedback()" id="page7-button28" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>