<ion-view title="Rating" id="page4">
  <ion-content padding="true" class="has-header">
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/B5kLwPHxSguxmwm7iOMr_singaporeairlines-2x1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="rating-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Question 1 of 6</p>
    </div>
    <h2 id="rating-heading4" style="color:#000000;">How would you rate your trip with Singapore Airlines?</h2>
    <form id="rating-form3" class="list">
      <ion-item class="item-divider" id="rating-list-item-divider1"> Rate from 1 to 5</ion-item>
      <ion-radio id="rating-radio1">Excellent (5 stars)</ion-radio>
      <ion-radio id="rating-radio2">Great (4 stars)</ion-radio>
      <ion-radio id="rating-radio3">Satisfactory (3 stars)</ion-radio>
      <ion-radio id="rating-radio4">Okay (2 stars)</ion-radio>
      <ion-radio id="rating-radio5">Not Good (1 star)</ion-radio>
      <h4 id="rating-heading22" style="color:#FFFFFF;">Heading</h4>
      <a ui-sref="continue()" id="rating-button14" class="button button-positive button-block">Continue</a>
    </form>
  </ion-content>
</ion-view>