<ion-view title="Signup" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="signup-form1" class="list">
      <h1 id="signup-heading20" style="color:#FFFFFF;">Heading</h1>
      <div id="signup-markdown10" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;font-size:20px;">Customer Information</p>
      </div>
      <ion-list id="signup-list1">
        <label class="item item-input" id="signup-input1">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input2">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
      </ion-list>
      <ion-list id="signup-list2">
        <label class="item item-input" id="signup-input5">
          <span class="input-label">Frequent Flyer Number</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <h5 id="signup-heading21" style="color:#FFFFFF;">Heading</h5>
      <a ui-sref="rating()" id="signup-button1" style="border-radius:1px 1px 1px 1px;" class="button button-positive button-block">Continue</a>
    </form>
  </ion-content>
</ion-view>