<ion-view title="Thank You" id="page5">
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div id="thankYou-button-bar3" class="button-bar">
      <button id="thankYou-button17" class="button button-energized button-block">Menu</button>
      <button id="thankYou-button18" class="button button-energized button-block">FAQ</button>
      <button id="thankYou-button19" class="button button-energized button-block">Services</button>
    </div>
    <div>
      <img src="img/ghmrbEhzSnMhUSzuQgNA_singapore_airlines-wide.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="thankYou-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Question 2 of 6</p>
    </div>
    <h1 id="thankYou-heading5" style="color:#000000;text-align:center;">At Singapore Airlines, we always want to make sure our customers are comfortable throughout the flight. We hope you enjoyed our seats and entertainment systems.</h1>
    <h4 id="thankYou-heading23" style="color:#FFFFFF;">Heading</h4>
    <a ui-sref="feedback()" id="thankYou-button13" class="button button-positive button-block">Next</a>
  </ion-content>
</ion-view>