<ion-view title="Continue" id="page5">
  <ion-content padding="true" class="has-header">
    <div id="continue-button-bar3" class="button-bar">
      <button id="continue-button17" class="button button-energized button-block">Menu</button>
      <button id="continue-button18" class="button button-energized button-block">FAQ</button>
      <button id="continue-button19" class="button button-energized button-block">Services</button>
    </div>
    <div>
      <img src="img/ghmrbEhzSnMhUSzuQgNA_singapore_airlines-wide.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="continue-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Question 2 of 6</p>
    </div>
    <h1 id="continue-heading5" style="color:#000000;">At Singapore Airlines, we always want to make sure our customers are comfortable throughout the flight. We hope you enjoyed our seats and entertainment systems.</h1>
    <a ui-sref="feedback()" id="continue-button13" class="button button-positive button-block">Next</a>
  </ion-content>
</ion-view>