<ion-view title="Feedback" id="page6">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="https://brightsparks.com.sg/profile/sia/images/fleet-banner.jpg" style="display: block; margin-left: auto; margin-right: auto;" height="250" width="770">
    </div>
    <div id="feedback-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Question 2 of 6</p>
    </div>
    <div id="feedback-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;font-size:22px;">Do you have any feedback regarding any of these categories?</p>
    </div>
    <a ui-sref="page7">
      <button class="button button-block">
        <img src="https://i.imgur.com/WVAg6cl.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="page8">
      <button class="button button-block">
        <img src="https://i.imgur.com/4Z2b6Re.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="page9">
      <button class="button button-block">
        <img src="https://i.imgur.com/o89OQpc.jpg" height="50" width="329/">
      </button>
    </a>
    <div>
      <a ui-sref="page10"></a>
      <a ui-sref="page14">
        <button class="button button-block">
          <img src="https://i.imgur.com/psyLALd.jpg" height="50" width="329">
        </button>
      </a>
    </div>
    <a ui-sref="page11">
      <button class="button button-block">
        <img src="https://i.imgur.com/jcd4Gza.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="page12">
      <button class="button button-block">
        <img src="https://i.imgur.com/1xTlw6k.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="page13">
      <button class="button button-block">
        <img src="https://i.imgur.com/R7416aT.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="page13">
      <button class="button button-block">
        <img src="https://i.imgur.com/M2TGda5.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="page15">
      <button class="button button-block">
        <img src="https://i.imgur.com/z312RFq.jpg" height="50" width="329/">
      </button>
    </a>
    <a ui-sref="finished()" id="feedback-button37" class="button button-positive button-block">Finish Survey</a>
  </ion-content>
</ion-view>