<ion-view title="Page 12" id="page11">
  <ion-content padding="true" class="has-header">
    <h2 id="page12-heading11" style="color:#000000;">Entertainment System Feedback:</h2>
    <form id="page12-form10" class="list">
      <ion-checkbox id="page12-checkbox18">Won't Turn On</ion-checkbox>
      <ion-checkbox id="page12-checkbox19">Frozen</ion-checkbox>
      <ion-checkbox id="page12-checkbox23">No Sound</ion-checkbox>
      <ion-checkbox id="page12-checkbox20">Controller Doesn't Work</ion-checkbox>
      <ion-checkbox id="page12-checkbox21">Damaged Screen</ion-checkbox>
      <ion-checkbox id="page12-checkbox22">Slow</ion-checkbox>
      <ion-item class="item-divider" id="page12-list-item-divider6"> Other Feedback:</ion-item>
      <label class="item item-input" id="page12-textarea5">
        <span class="input-label">Comments</span><textarea placeholder="Enter Comments Here"></textarea></label>
    </form>
    <a ui-sref="feedback()" id="page12-button32" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>