<ion-view title="Page 13" id="page12">
  <ion-content padding="true" class="has-header">
    <h2 id="page13-heading12" style="color:#000000;">Tray Feedback:</h2>
    <form id="page13-form11" class="list">
      <ion-checkbox id="page13-checkbox24">Crooked</ion-checkbox>
      <ion-checkbox id="page13-checkbox25">Latch Won't Work</ion-checkbox>
      <ion-checkbox id="page13-checkbox26">Unstable</ion-checkbox>
      <ion-item class="item-divider" id="page13-list-item-divider7"> Other</ion-item>
      <label class="item item-input" id="page13-textarea6">
        <span class="input-label">Additonal Feedback:</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="feedback()" id="page13-button33" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>