<ion-view title="Page 11" id="page10">
  <ion-content padding="true" class="has-header">
    <h2 id="page11-heading10" style="color:#000000;">Footrest Feedback:</h2>
    <form id="page11-form9" class="list">
      <ion-checkbox id="page11-checkbox14">Footrest doesn't work</ion-checkbox>
      <ion-checkbox id="page11-checkbox15">Dirty</ion-checkbox>
      <ion-checkbox id="page11-checkbox16">Scratched</ion-checkbox>
      <ion-item class="item-divider" id="page11-list-item-divider5"> Other Feedback:</ion-item>
      <label class="item item-input" id="page11-textarea4">
        <span class="input-label">Enter comments here</span><textarea placeholder=""></textarea></label>
    </form>
    <a ui-sref="feedback()" id="page11-button31" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>