<ion-view title="Page 9" id="page9">
  <ion-content padding="true" class="has-header">
    <h2 id="page9-heading9" style="color:#000000;">Armrest Feedback:</h2>
    <form id="page9-form8" class="list">
      <ion-checkbox id="page9-checkbox10">Uncomfortable</ion-checkbox>
      <ion-checkbox id="page9-checkbox11">Dirty</ion-checkbox>
      <ion-checkbox id="page9-checkbox12">Buttons not working</ion-checkbox>
      <ion-checkbox id="page9-checkbox13">Crooked</ion-checkbox>
      <ion-item class="item-divider" id="page9-list-item-divider4"> Other</ion-item>
      <label class="item item-input" id="page9-textarea3">
        <span class="input-label">Addtional Feedback:</span><textarea placeholder="Enter comments here"></textarea></label>
    </form>
    <a ui-sref="feedback()" id="page9-button30" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>