<ion-view title="Page 14" id="page14">
  <ion-content padding="true" class="has-header">
    <h1 id="page14-heading14" style="color:#000000;">Lavatory Feedback:</h1>
    <form id="page14-form13" class="list">
      <ion-checkbox id="page14-checkbox30">Won't Flush</ion-checkbox>
      <ion-checkbox id="page14-checkbox31">Needs Cleaning</ion-checkbox>
      <ion-checkbox id="page14-checkbox32">No Water</ion-checkbox>
      <ion-checkbox id="page14-checkbox33">No Soap</ion-checkbox>
      <ion-item class="item-divider" id="page14-list-item-divider9"> Other</ion-item>
      <label class="item item-input" id="page14-textarea8">
        <span class="input-label">Addtional Feedback:</span><textarea placeholder="Enter comments here"></textarea></label>
    </form>
    <a ui-sref="feedback()" id="page14-button35" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>