<ion-view title="Page 8" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="page8-heading8" style="color:#000000;">Seat Feedback:</h1>
    <form id="page8-form7" class="list">
      <ion-checkbox id="page8-checkbox6">Uncomfortable</ion-checkbox>
      <ion-checkbox id="page8-checkbox7">Dirty</ion-checkbox>
      <ion-checkbox id="page8-checkbox8">Ripped</ion-checkbox>
      <ion-checkbox id="page8-checkbox9">Smells</ion-checkbox>
      <ion-item class="item-divider" id="page8-list-item-divider3"> Other</ion-item>
      <label class="item item-input" id="page8-textarea2">
        <span class="input-label">Additional Feedback:</span><textarea placeholder="Enter comments here"></textarea></label>
    </form>
    <a ui-sref="feedback()" id="page8-button29" class="button button-positive button-block">Save</a>
  </ion-content>
</ion-view>